<p style="color: green"><%= notice %></p>

<div style="margin-left: 50px;">
  <h1 style="font-weight: bold">Tasks</h1>

  <div id="tasks">
    <% @tasks.each do |task| %>
      <div style="margin-top: 20px; display: flex; align-items: center;">
        <div style="width: 10px; height: 10px; background-color: #000; border-radius: 50%; margin-right: 10px;"></div>
        <h4 style="margin-right: 17px;">Tarea <%= current_user.task_number %></h4>
        
        <% if task.join_user_alternative_questions.present? %>
          <%= link_to "Go to", task_alternative_question_path(task, task.join_user_alternative_questions.order(:order_number).first&.alternative_question) , class: "btn btn-info" %>
        <% elsif task.join_user_numerical_questions.present? %>
          <%= link_to "Go to", task_numerical_question_path(task, task.join_user_numerical_questions.first.numerical_question_id), class: "btn btn-info" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>