<h1>Editing alternative question</h1>

<%= render "form", alternative_question: @alternative_question %>

<br>

<div>
  <%= link_to "Show this alternative question", @alternative_question %> |
  <%= link_to "Back to alternative questions", alternative_questions_path %>
</div>
