<h1>Editing numerical question</h1>

<%= render "form", numerical_question: @numerical_question %>

<br>

<div>
  <%= link_to "Show this numerical question", @numerical_question %> |
  <%= link_to "Back to numerical questions", numerical_questions_path %>
</div>
