<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>

  .send-button {
    position: relative;
    bottom: 20px;
    right: 20px; 
  }

  .continue-button {
    position: relative;
    bottom: 20px; 
    right: 150px; 
  }
</style>

<script>

function handleSend(information) {
  var inputValue = document.getElementById("myAnswer").value;
  var realAnswer = information.getAttribute('data-answer');

  console.log(inputValue);
  console.log(realAnswer);

}

</script>

<div style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 200px;">
  <div>
    <div style= "display: flex;"> 
      <h3 style="margin-right: 15px;"><b>Tarea</b></h3> 
      <h3><b><%=@task.number %></b></h3>
      <h5 style= "margin-top: 5px; margin-left: 20px;">Compleja</h5> 
    </div>
    <div style="background-color: white; width: 1050px; border: 2px solid #dbdbdb">
        <div style= "margin-top: 20px; margin-left: 20px; margin-right: 20px;">
          <span style="font-size: 21px;"><%= @enunciado %></span>
        </div>
        <hr style="margin: 0; border: 1.5px solid #dbdbdb; margin-top: 10px; margin-left: 30px; margin-right: 40px;">
        <div class="align-items-center">
          <div class="form-group d-flex align-items-center" style="margin-top: 20px; margin-bottom: 20px; justify-content: center;">
            <label style="margin-left: 10px; margin-right: 10px;" for="exampleFormControlInput1">Tu respuesta:</label>
            <input style="width: 50vh" type="text" class="form-control" id="myAnswer" placeholder="Redondear a 3 decimales">
          </div>
          <div>
            <button style="margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;" data-answer= "<%= @respuesta %>" type="submit" onclick= "handleSend(this)" >Enviar</button>
          </div>
        </div>
    </div>
  </div>
</div>
